brotli==1.0.9
ConfigParser==5.2.0
cryptography==36.0.1
Cython==0.29.26
dl==0.1.0
docutils==0.18.1
Flask==2.0.1
HTMLParser==0.0.2
importlib_metadata==4.10.0
jnius==1.1.0
keras==2.7.0
keras_nightly==2.5.0.dev2021032900
keyring==23.5.0
lockfile==0.12.2
lxml==4.7.1
numpy==1.19.5
opencv_python==4.5.2.54
ordereddict==1.1
pandas==1.2.4
protobuf==3.19.3
pyOpenSSL==21.0.0
pywin32==301
tensorflow==2.7.0
toml==0.10.2
tornado==6.1
typing_extensions==3.7.4.3
xmlrpclib==1.0.1
zipp==3.7.0

